{% extends "layout.html" %}

{% block todo %}
<div style = "margin-top: 80px" class="container"> <!--margin-top: 65px üstten 65 pixel in demek-->
    <h2>Todo List</h2>
    <hr>

    <form action="/add" method="POST">
        <div class="form-group">
            <label for="formGroupExampleInput">Todo</label>
            <input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="Enter a todo">
            <br>
            <button type="submit" class="btn btn-warning">Add</button>
        </div>
        <hr>
    </form>

    {% if todolist == [] %}
    <div class="alert alert-warning", role="alert">
        No Todo was found
    </div>
    
    {% else %}
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Todo Title</th>
            <th scope="col">Check</th>
            <th scope="col">Done</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for todo in todolist %}
                <tr>
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.title}}</td>
                    {% if todo.complete == False %}
                    <td>&#160;&#160;&#160;✖️</td>
                    {% else %}
                    <td>&#160;&#160;&#160;&#160;✓</td>
                    {% endif %}
                    <td><a href="/check/{{todo.id}}", class="btn btn-warning">Check</a></td>
                    <td><a href="/delete/{{todo.id}}", class="btn btn-warning">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    
    {% endif %}

</div>
{% endblock %}

